
.heroSection .top-container{
    display: flex;
    /* background-color: gray; */
    padding: 8.8rem 8rem;
}

.heroSection .top-container .heading-1{
    font-size: 5.7rem;
    font-weight: 800;
}

.heroSection .top-container .heading-2{
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 5rem;
}

.heroSection .bottom{
    background-color: white;
    padding: 5rem 8rem;
    position: relative;
    border-radius: 3rem 3rem 0 0;
}

.heroSection .bottom .wrapper{
    width: 40%;
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.heroSection .bottom .wrapper p{
    padding: 0 6rem 0 0;
    text-align: justify;
}

.heroSection .bottom .btn{
    margin-top: 5rem;
}

.heroSection .bottom .img{
    width: 52rem;
    position: absolute;
    bottom: 5rem;
    right: 3rem;
}

@media screen and (max-width: 1170px){

    .heroSection .top-container{
        padding: 6rem 6rem;
    }

    .heroSection .bottom{
        padding: 5rem 6rem;
    }

    .heroSection .top-container .heading-2{
        margin-left: 3rem;
    }

    .heroSection .bottom .img{
        width: 48rem;
    }

}


@media screen and (max-width: 1170px){
    .heroSection .bottom .img{
        width: 44rem;
        right: 1rem;
    }
    .heroSection .bottom{
        padding: 3rem 6rem;
    }
}

@media screen and (max-width: 900px){
    
    .heroSection .top-container .heading-1{
        font-size: 4rem;
    }

    .heroSection .top-container .heading-2{
        font-size: 1.3rem;
    }

    .heroSection .bottom .img{
        width: 38rem;
    }
}

@media screen and (max-width: 700px){
    .heroSection .bottom .img{
        width: 30rem;
        bottom: 1.2rem;
    }

    .heroSection .top-container{
        justify-content: center;
    }

    .heroSection .bottom .btn{
        margin-top: 3rem;
    }

    .heroSection .bottom .wrapper p{
        padding-right: 1rem;
    }
}

@media screen and (max-width: 600px){
    .heroSection .bottom .img{
        width: 26rem;
        bottom: 5rem;
        right: 2rem;
    }

    .heroSection .bottom .wrapper p{
        padding-right: 0;
    }

    .hero-section-btn{
        width: 80% !important; 
    }
}


@media screen and (max-width: 500px){

    .heroSection .top-container{
        padding: 4rem 2rem 12rem 2rem;
    }


    .heroSection .bottom{
        padding: 13rem 3rem 3rem 3rem;
    }

    .heroSection .bottom .img{
        width: 29rem;
        bottom: auto;
        right: auto;
        left: 50%;
        top: -9rem;
        transform: translate(-50%)
    }

    .heroSection .bottom .wrapper{
        width: auto;
    }

   

    .heroSection .bottom{
        padding-top: 16rem;
    }

    .heroSection .bottom .btn{
        display: flex;
        justify-content: center;
    }

    .hero-section-btn{
        width: 100% !important; 
    }
}